<p id="notice"><%= notice %></p>

<h1>Minimus</h1>

<table>
  <thead>
    <tr>
      <th>Short url</th>
      <th>Long url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @minimus.each do |minimu| %>
      <tr>
        <td><%= minimu.short_url %></td>
        <td><%= minimu.long_url %></td>
        <td><%= link_to 'Show', minimu %></td>
        <td><%= link_to 'Edit', edit_minimu_path(minimu) %></td>
        <td><%= link_to 'Destroy', minimu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Minimu', new_minimu_path %>
